@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg,#0E3A45,#196578,#1C5F91,#237DC7,#4A8391,#3D828E,#0E3A45);background-size: 500%;
    animation: fanimado 180s infinite;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
  }
.titulo{
  text-align: center;
  font-size: 26px;
  margin: 0 auto;
  min-height: 190px;
  max-width: 800px;
  padding: 5px;
  color: #237DC7;
  background-color: #fff;
}
.subtitulo{
  font-family: "Candara";
  font-size: 20px;
  padding-top: 12px;
  color: black;
}
.esquina{
  margin-left: 12px;
  margin-top: 8px;
  text-align: left;
  font-size: 15px;
  color: black;
}
.tabs {
  min-width: 100hv;
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 4px 6px 5px gray;
  }

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
  }

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }

  label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }
  
  label[for*='1']:before {
    content: '\f121';
  }
  
  label[for*='2']:before {
    content: '\f092';
  }

  label:hover {
    color: #888;
    cursor: pointer;
  }

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
  }
  
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2{
    display: block;
  }

  @media screen and (max-width: 650px) {
    label {
      font-size: 0;
    }
  
    label:before {
      margin: 0;
      font-size: 18px;
    }
  }
  @media screen and (max-width: 400px) {
    label {
      padding: 15px;
    }
  }

@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    } 
}
